.MuiBadge-badge {background: #ff5252 !important;}

*{margin: 0; box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f1f1f1;
  color: #3e3e3e;
  overflow-x: hidden;
}

.ReactCollapse--collapse {
    transition: height 400ms;
}

::-webkit-scrollbar {width: 10px !important; height: 10px !important;}
::-webkit-scrollbar-thumb {background: #ccc !important;}

.btn-blue {background: #3872fa !important; color: white !important; padding: 8px 20px !important; font-weight: 600 !important;}
.btn-blue:hover {background: #3067e5 !important;}

/* Products Page */
.MuiAppBar-colorPrimary {background: #e6e6e6 !important;}

/* Remove arrows from number input css */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MuiSelect-select {background: #fff !important;}

/* Users */
.MuiToolbar-root.MuiToolbar-gutters {margin-bottom: 30px !important;}