@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0; box-sizing: border-box;}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f4f0ef;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

::-webkit-scrollbar {width: 8px !important; height: 8px !important;}
::-webkit-scrollbar-thumb {background: #ff5252;}
::-webkit-scrollbar-track {background: #fff;}


.btn-org{background: #ff5252 !important; color: #fff !important; font-weight: 500; font-size: 16px; padding: 7px 20px !important;}


.container {width: 95%; margin: auto; max-width: 1300px;}

.link:hover {color: #ff5252;}

.MuiBadge-badge {background-color: #ff5252 !important;}

nav ul button {text-transform: capitalize !important;}
nav ul button:hover {background: none !important;}

.sliderHome{overflow: inherit !important;}

.swiper-button-prev,.swiper-button-next {display: flex; align-items: center; justify-content: center; min-width: 45px; width: 45px; height: 45px;
background: #fff; border-radius: 100%; box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important; transition: all 0.2s;}
    
.swiper-button-prev::after,.swiper-button-next::after {font-size: 22px !important; color: #000;}




.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next {width: 30px !important; height: 30px !important; min-width: 30px !important;
top: 55% !important;}
.smlBtn .swiper-button-prev::after, .smlBtn .swiper-button-next:after {font-size: 18px !important; color: #000;}

.cardBox {display: block; width: 100%; height: 100%; display: inline-block; border-radius: 6px; box-shadow: 0 5px 18px 3px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.1s ease-out, transform 0.1s ease-out; }
.cardBox--close:hover { box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25); transform: translateY(3px); }



    

/* .homeCatSlider .swiper {overflow: visible !important;} */
.homeCatSlider {overflow: inherit !important;}
.homeCatSlider .swiper-button-prev,.homeCatSlider .swiper-button-next {width: 30px; height: 30px; min-width: 30px;}
.homeCatSlider .swiper-button-prev::after,.homeCatSlider .swiper-button-next::after {font-size: 16px !important;}
.homeCatSlider .swiper-button-prev {left: -10px !important;}
.homeCatSlider .swiper-button-next {right: -10px !important;}

.homeCatSlider .item {border: 1px solid rgba(0, 0, 0, 0.1);}

.swiper-button-prev:hover,.swiper-button-next:hover {background: #ff5252;}
.swiper-button-prev:hover::after,.swiper-button-next:hover::after {color: #fff;}

.homeCatSlider .item:hover img {transform: scale(1.1);}




.MuiTabs-indicator { background-color: #ff5252 !important;}
.MuiTab-textColorPrimary.Mui-selected {color: #ff5252 !important;}



.productsSlider .swiper-wrapper {padding: 15px; margin-left: -15px; margin-right: -15px;}


footer form input::placeholder {font-size: 14px;}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {color: #ff5252 !important;}

.MuiFormControlLabel-label {font-size: 13px !important; color: rgba(0, 0, 0, 0.7);}


.swiper-pagination-bullet-active {background: #ff5252 !important;}

.homeSliderV2 .swiper-slide-active .info {right: 0 !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h4 {right: 0 !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h3 {right: 0 !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info h2 {right: 0 !important; opacity: 1;}
.homeSliderV2 .swiper-slide-active .info .btn_ {right: 0 !important; opacity: 1;}

.homeSliderV2 .swiper-slide-active .info h4 {transition-duration: 1.2s;}
.homeSliderV2 .swiper-slide-active .info h3 {transition-duration: 1.5s;}
.homeSliderV2 .swiper-slide-active .info h2 {transition-duration: 1.8s;}
.homeSliderV2 .swiper-slide-active .info .btn_ {transition-duration: 2.1s;}
